*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-category-1
{
    display: flex;
    flex-wrap: wrap;
    width:182px;
    height:182px;
    border: 1px solid #333;
    border-radius: 5px;
}
.main-box-title-1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 182px;
    height: 60px;
}
.main-box-1-2
{
    width: 182px;
    height: 60px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.main-box-1-3
{
    width: 182px;
    height: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end; 
}