*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Greycliff CF";
}
.filled-btn button 
{
    background-color: #629479;
    border: none;
    margin: 10px 3px;
    border-radius: 5px;
    width: 220px;
    height: 45px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}
.filled-btn button:hover
{
    cursor: pointer;
    background-color: #4a8565;
}