
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Greycliff CF";
    color: #2c2c2c;
}
.logo-gag
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-gag img
{
    width: 10%;
}
.inner-logo
{
    position: absolute;
    top: 40px;
}
navbar.nav-bar
{
    height: 100px;
    display: flex;
    justify-content: center;
}
.nav-item
{
    display: flex;
}
.nav-primary
{
    display: flex;
    margin: 0 150px 0 80px;
}
.nav-secondary
{
    display: flex;
    margin: 0 80px  0 150px;
}
.nav-item ul li
{
    margin: 0 50px;
    display: flex;
    justify-content: flex-start;
}
.nav-item ul li a
{
    text-decoration: none;
    list-style: none;
}
.nav-item ul li a:hover
{
    font-weight: 800;
    color: #629479;
}

/* .wrapper
{
    height: 100px;
    border: 1px solid black;
}
.inner-bg-img
{
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 90px;
}
.nav ul
{
    display: flex;
}
.nav ul li
{
    list-style-type: none;
    padding: 20px;
    margin: 0 40px;
}
.nav ul li:hover
{
    font-weight: 700;
    color: #629479;
    cursor: pointer;
}

.nav ul li:nth-child(3)
{
    margin-left: 250px;
}
.logo
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20px;
    justify-content: center;
    align-items: center;
}
.inner-logo
{
    margin: 40px 0;
    width: 10%;
}
 .side-logo
{
    position: absolute;
    top: 150px;
    left: 230px;
    display: flex;
    width: 40%;
}
.inner-logo-icon
{
    width: 30%;
}
.body-type
{
    width: 40%;
    text-align: center;
    position: absolute;
    top: 180px;
    left: 550px;
}
.body-type h2
{
    font-size: 30px;
}
.body-type p
{
    margin: 10px 0;
}
.btns
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}  */