
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Greycliff CF";
    color: #2c2c2c;
}
.main-wrapper
{
    padding: 2rem 2rem;
}
.nav-item
{
    margin-inline: auto;
    width: min(80%, 70rem);
    display: flex;
}
.nav-item ul
{
    margin-inline: auto;
    width: min(80%, 70rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item ul li
{
    list-style-type: none;
}
.nav-item ul li a
{
    text-decoration: none;
}

@media (max-width: 50em)
{
    ul li
    {
        font-size: .75rem;
    }
}