.About-org-1
{
    display: flex;
    flex-wrap: wrap;
}
.about-header-1
{
    background-image: url('../../../assets/imgs/bg_img.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-section-1
{
    display: flex;
    flex-direction: column;
    margin: 100px 220px;
}
.about-section-1 h2
{
    font-size: 60px;
}
.about-us-dash
{
    height: 10px;
    background-color: #D0AFFF;
    width: 220px;
}
.about-section-1 p
{
    font-size: 20px;
    margin: 30px 0;
    width: 80%;
    line-height: 30px;
}
.about-bg-img
{
    background-image: url('../../../assets/imgs/about-bg-1.png');
    width: 100%;
    height: 1200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-bg-img h2
{
    width: 20%;
}
.about-content-1
{
    margin: -250px 0 0 0;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}
.about-content-1 h2
{
    margin: 10px 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 45px;
    text-align: right;
    width: 30%;
}
.about-us-partner-dash
{
    height: 10px;
    background-color: #E95C06;
    width: 220px;
}
.about-partner-1
{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-footer
{
    width: 100%;
}
