*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: poppins;
    color: #333;
}

.main-add-2
{
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
}
.form-2
{
    margin: 20px 0px;
}
.heading-2
{
    font-size: 16px;
}
.input-field-2
{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 1%;
    margin: 1% 0;
    border-radius: 5px;
    border: 1px solid #333;
}
.add-person-2
{
    margin: 5px 10px 0px 0px;
    width: 10%;
    padding: 10px;
    background: transparent;
    color: #333;
    border: 1px solid #333;
    border-radius:5px;
}
.save-person-2
{
    width: 10%;
    padding: 10px;
    margin: 5px 10px 0px 0px;
    background-color: #333;
    border: none;
    border-radius:5px;
    color: #fff;
}
.s-person:hover
{
    width: 10%;
    padding: 10px;
    margin: 5px 10px 0px 0px;
    background-color: #444;
    border: none;
    border-radius:5px;
    cursor: pointer;
    color: #fff;
}