.Add_btn-primary button
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid #333;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
    padding: 20px;
}
.Add_btn-primary button:hover
{
    background-color: whitesmoke;
}