.btn_container {
    margin-left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 47px;
    border: 2px solid #4F341F;
    border-radius: 10px;
}