*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Greycliff CF";
    color: #2c2c2c;
}
.main-page
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
.wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.inner-bg-img
{
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.nav-main-1
{
    position: absolute;
    top: 0;
}
.side-logo
{
    position: absolute;
    top: 150px;
    left: 230px;
    display: flex;
    width: 40%;
}
.inner-logo-icon
{
    width: 30%;
}
.body-type
{
    width: 40%;
    text-align: center;
    position: absolute;
    top: 180px;
    left: 550px;
}
.body-type h2
{
    font-size: 30px;
}
.body-type p
{
    margin: 10px 0;
}
.btns
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-partner-wrapper
{
    height: 250px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-wrapper h2
{
    font-size: 30px;
}
.main-stolar-wrapper
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.main-stolar-content
{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    flex-direction: column;
}
.main-stolar-wrapper h2
{
    margin: 10px 0;
    font-size: 30px;
}
.main-stolar-wrapper p
{
    line-height: 24px;
}
.stolar-img
{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}
.main-section-btns
{
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cta-1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tagline
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container-1
{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 80px;
    background-color: #212121;
}
.tagline h3
{
    color: #fff;
}
.gag-values
{
    background: url('../../../assets/imgs/bg_img_2.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gag-values h2
{
    font-size: 30px;
}
.gag-val-content
{
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gag-circle
{
    margin: 30px 0;
    display: flex;
}

.head-methods
{
    width: 100%;
    height: 350px;
}
.trash
{
    background: url('../../../assets/imgs/bg_img_3.png');
    width: 100%;
    height: 1200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.trash-content
{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 50px 700px;

}
.trash-content h2
{
    margin: 10px 0;
    font-size: 30px;
}
.trash-content p
{
    line-height: 24px;
    margin: 10px 0;
}
.trash-can img
{
    position: relative;
    width: 25%;
    margin: 0 200px;
}
.trash-content-1
{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 50px 700px;
}
.trash-content-1 h2
{
    margin: 0 0 0 210px;
    font-size: 30px;
    text-align: right;

}
.trash-content-1 p
{
    margin: 10px 0;
    line-height: 24px;
    text-align: right;
}
.customer-review
{
    width: 100%;
    height: 450px;
}
.customer-review h2
{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    margin: 50px 100px;
}
/* .dash
{
    height: 5px;
    width: 320px;
    position: relative;
    top: -1340px;
    display: flex;
    flex-wrap: wrap;
    background-color: #E95C06;
    margin: 0 150px;
} */
.customer-feedback
{
    justify-content: center;
    align-items: center;
    display: flex;
}