*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Greycliff CF', Courier, monospace;
}
.empty-circle
{
    display: flex;
    justify-content: center;
    align-items: center;
    height:180px;
    width: 180px;
    background-color: #629479;
    border-radius: 50%;
    margin: 0 100px;
}
.inner-circle
{
    
    color: white;
    width: 80%;
    font-size: 20px;
    text-align: center;
}