.our-method-2
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: transparent;
}
.methods-2-1
{
    border: 5px solid #629479;
    margin: 20px;
    background-color: #F2F2F2;
    display: flex;
}
.methods-2-1 h2
{
    font-size: 30px;
}
.head-methods-2-1
{
    margin: 20px;
    display: flex;
}
.head-methods-2-1 h2
{
    font-size: 48px;
    font-weight: 400;
}
.move-2-1
{
    padding: 14px;
}
span
{
    font-weight: 700;
}
.move-2-1 h4
{
    font-size: 18px;
    font-weight: 700;
}
.move-2-1 p
{
    font-size: 18px;
    margin: 10px 0;
    line-height: 30px;
}