/* .main-nav-active
{
    color:#222;
    font-weight: 800;
    text-decoration: underline;
    border: 1px solid #212121;
} */
/* 
ul li a.active_class
{
    border: 1px solid #212121;
    color: grey;
    font-weight: 800;
    background-color: purple;
} */