
.input-field input
{
    padding: 10px;
    width: 250px;
    height: 40px;
    border: none;
    background-color: #fff;
}
/* .email
{
    color: white;
    position: relative;
    top: 27px;
    left: 15px;
} */