.input-1  {
    height: 23%;
    color: #000000;
    width: 90%;
    border: none;
    background-color: #F2F2F2;
    margin-top: 2%;
    font-size: 30px;
    font-family: Pragati Narrow;
    font-weight: 400;
}